.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}

.chart-pie-label {
    -fx-fill: #ffffff;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #ffffff;
}